<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar item-start>
        <img src="https://minhabolsacheia.files.wordpress.com/2011/02/3x41.jpg">
      </ion-avatar>
      <h2>Cher</h2>
      <p>Ugh. As if.</p>
    </ion-item>
  </ion-list>
</ion-content>
