<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Controle de Visitas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <super-tabs toolbarColor="light">
    <super-tab [root]="prestadores" title="Prestadores"></super-tab>
    <super-tab [root]="visitantes" title="Visitantes"></super-tab>
    <super-tab [root]="historico" title="Histórico"></super-tab>
  </super-tabs>
</ion-content>
